<div class='@@servicepack_name@@-custom-metric'>
    {{text}}
    <div class='button-bar center-buttons help-examples'>
		<msx-help-icon
			key="msx/platform/tenant/workspace/@@servicepack_name@@/help"
			tooltip="@@servicepack_name@@.service.tile.help.button.label"
		></msx-help-icon>    	
		<msx-help-button
			key="msx/platform/tenant/workspace/@@servicepack_name@@/help"
			label="@@servicepack_name@@.service.tile.help.button.label"
		></msx-help-button>    	
		<msx-help-link
			key="msx/platform/tenant/workspace/@@servicepack_name@@/help"
			label="@@servicepack_name@@.service.tile.help.button.label"
		></msx-help-link>    	
    </div>
    <div class='button-bar center-buttons'>
        <button *ngIf='!deleting' class='button button--medium button--danger' (click)='onClick()' msxResourceString='@@servicepack_name@@.service.unsubscribe'></button>
        <msx-busy-indicator *ngIf="deleting" [radius]="1.6" [stroke]='0.2' class="vms-busy-center"></msx-busy-indicator>
    </div>
</div>