@import '../../../../../../../node_modules/@cisco-msx/common/resources/theme/_colors.scss';

.@@servicepack_name@@-expanded-operator-tile {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	.@@servicepack_name@@-expanded-operator-tile-service-description {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 3rem;
		margin: 0 1rem 1rem 0;
		max-width: 50%;
		text-align: center;
		overflow: hidden;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			border-left: 0.4rem solid #049fd9;
		}
		.msx-service-title {
			margin-top: 1rem;
		}
		.msx-service-subtitle {
			margin: 2rem 0 1rem 0;
			line-height: 1.3rem
		}
		.msx-service-icon {
			margin: 1rem 0;
			flex-grow: 0;
			flex-shrink: 0;
			position: relative;
			.msx-service-icon-badge {
				position: absolute;
				right: -0.7rem;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
				.msx-service-icon-badge-icon {
					border: none;
					display: inline-flex;
					align-items: center;
					justify-content: center;
				}
			}
			.vms-image-uploader-wrapper {
				.vms-image-uploader-circle-thumbnail {
					width: 11rem;
					height: 11rem;
					line-height: 11rem;
					border-radius: 50%;
					background: $global-defaults_defined-colors_gradient-2_color;
					.dropImage {
						top: 3.1rem;
						left: 3.1rem;
						width: 4.8rem;
						height: 4.8rem;
						background: $global-defaults_defined-colors_gradient-2_color;
						border: none;
						svg {
							border-radius: unset;
							path {
								fill: $global-defaults_defined-colors_white_color;
							}
						}
					}
					label {
						margin-top: 0.8rem;
						span {
							font-size: 4.8rem;
						}
					}
				}
			}
		}
		&-last-active {
			&:before {
				display: none;
			}
		}
		.msx-service-desc-text-container {
			height: 4.5rem;
			overflow: hidden;
			display: block;
		}
		.msx-service-desc-text-container-large {
			overflow: hidden;
			display: block;
		}
 	}
	.@@servicepack_name@@-expanded-operator-tile-service-details {
		flex-grow: 1;
		flex-shrink: 1;
		padding: 3rem;
		margin: 0 1rem 1rem 0;
		max-width: 75%;
		overflow: hidden;
	}
}