<div class="modal-title sk-font-modal-title" msxResourceString="@@servicepack_name@@.service.devices.list.actions.action0.dialog.title"></div>
<div class="modal-body sk-font-modal-caption" msxResourceString="@@servicepack_name@@.service.devices.list.actions.action0.dialog.title"></div>
<div class="modal-footer">
	<div class="button-bar center-buttons">
		<button tabindex="0" type="button" class="button button--medium button--cta" (click)="cancel()" msxResourceString="cisco.common.button.ok"></button>
	</div>
</div>