.@@servicepack_name@@-subscription-form {
	.subscription-form-header {
		margin: 0 0 3rem 0;
	}
	.subscription-form-text {
		margin: 0 3rem 3rem 3rem;
	}
	.subscription-form-checkbox {
		margin: 0 3rem 3rem 3rem;
	}
}